

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98vw;
    background-image: url(sapato.jpg);
    height: 15vh;
}

main{   
    color:white;
    background-color: orangered;
    padding-left: 20px;
}

input{
    width: 500px;
    height: 45px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 10px white;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(146, 144, 144);
    margin-left: 10px;
    margin-right: 10px;
    height: 80vh;
    gap: 20px;
}

section div{
    width: 60vw;
}

.button-vamos{
    padding-left: 0 px;
    font-size: large;
    width: 120px;
    height: 50px;
    width: 300px;
    height: 48px;
}

.crianca{
    display: flex;
    flex-direction: row;

}

.capa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background-image: url(Sapatoflix.png);
}

.div-capa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

h1{
    font-size: 3rem;
}

.perguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 50vw;
}

.button-perguntas{
    width: 40vw;
    height: 60px;
    font-size: 18px;
}

select{
    width: 100px;
    height:40px;
}

ul{
    list-style: none;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 200px;
    margin-top: 10px;
    width: 70vw;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 18vh;
    gap: 50px;

}

.lista-footer-menu{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: space-around;
    gap: 10px;
  
}

