

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98vw;
    background-image: url(sapato.jpg);
    height: 15vh;
}

main{   
    color:white;
    background-color: orangered;
}

input{
    width: 500px;
    height: 45px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 10px white;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(146, 144, 144);
    margin-left: 10px;
    height: 80vh;
}

section div{
    width: 60vw;
}

button{
    padding-left: 0 px;
    font-size: large;
    width: 120px;
    height: 50px;
}

.crianca{
    display: flex;
    flex-direction: row;

}

.capa{
    background-image: url(Sapatoflix.png);
}

.texto{
    margin-bottom: 20px;
}

h1{
    font-size: 3rem;
}

h2{
    width: 70vw;
}

.perguntas{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.perguntas button{
    width: 40vw;
    height: 60px;
}

select{
    width: 100px;
    height:40px;
}

ul{
    list-style: none;
}

footer{
    padding-left: 200px;
    width: 70vw;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
    

}

img{
    width: 50vh;
}